<div class="container">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h2 class="h2">Census List</h2>
    </div>
   
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"># of People</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Census Year</th>
            <th scope="col">Census Taker</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cens of Census; let i = index">
            <th scope="row">{{cens._id}}</th>
            <td>{{cens.totalPeopleInHome}}</td>
            <td>{{cens.streetName}}</td>
            <td>{{cens.cityName}}</td>
            <td>{{cens.stateName}}</td>
            <td>{{cens.zipCode}}</td>
            <td>{{cens.cens.usYear}}</td>
            <td>{{cens.cens.usTakerName}}</td>
            <td class ="text-center">
              <button class="btn btn-sm btn-warning"
              (click)="onUpdate(cens._id)">Update</button>
            </td>
            <td class="text-center">
              <button class="btn btn-sm btn-primary"
              (click)="onDelete(cens._id)">Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>